/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2018, 5:44:17 PM
    Author     : ccarr
*/

body{
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 18px; 
    
}
.error{
    color: #FF0000;
}
.success{
    color: #0000FF;
}